body{
margin:0;
font-family:Arial;
background:#0a0a0a;
color:white;
text-align:center;
}

.hero{
padding:80px 20px;
background:linear-gradient(120deg,#00ff88,#0066ff);
}

button{
padding:10px 20px;
border:none;
background:#00ff88;
cursor:pointer;
font-weight:bold;
}

.section{
padding:50px 20px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;
margin-top:20px;
}

.card{
background:#1c1c1c;
padding:20px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
background:#00ff88;
color:black;
transform:scale(1.05);
}

footer{
padding:20px;
background:black;
margin-top:20px;
}
